.secondPane{
    -fx-background-color:  #d9d9f2;
}

.firstPane{
    -fx-background-color:  #e6e6e6;
}

.datePicker{
    -fx-font-size: 17; 
    -fx-font-weight: bold;
    -fx-text-inner-color: #DF01D7;
}

.cbClient{
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.txtDistance{
    -fx-text-inner-color: #DF01D7;
}

.chkBox{
    
}