.secondPane{
    -fx-background-color:  #eaeffa;
}

.firstPane{
    -fx-background-color:  #c1d0f0;
}

.datePicker{
    -fx-font-size: 17; 
    -fx-font-weight: bold;
    -fx-text-inner-color: #DF01D7;
}

.cbClient{
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.txtDistance{
    -fx-text-inner-color: #DF01D7;
}

.chkBox{
    
}